<span class="icon alpha merge <%= icon_for(pull, :can_merge_it?) %>">Merge</span>
<span class="icon alpha review <%= icon_for(pull, :reviewed_it?) %>">Review</span>
<span class="icon alpha comment <%= icon_for(pull, :comments?) %>">Comment</span>